html {
    scroll-behavior: smooth;
    hyphens: auto;
}

section {
    scroll-margin-top: 0px;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    cursor: pointer;
}

.cover-full {
    height: 100vh;
    width: 100%;
}

.cover-full {
    border-top: 2px solid #637F8A;
}

#intro {
    background-color: #637F8A;
    /* background-image: url(../img/3d-render-modern-background-with-flowing-particle-design.jpg); */
    /* background-image: url(img/ruinen.jpeg); */
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-size: cover;

}

.nav-button {
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    min-width: 5rem;
    text-align: center;
}

.nav-button {
    border: 2px solid black;
    color: black;
    font-weight: bold;
}

.nav-button:hover {
    border: 2px solid black;
    color: white;
    background-color: black;
}


.nav-button.intro {
    border: none;
    color: white;
}

.nav-button.logo {
    border: none!important;
}


.navbar .navbar-nav .nav-link {
    margin-right: 10px;
}

.nav-link.active,
.nav-button.active {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
} 

#nav-home:hover {
    border: none!important;
    color: #333 !important;
    background-color: transparent!important;
    cursor: pointer;
}

.display-4.fw-normal {
    position: relative;
    display: inline-block;
}

.display-4.fw-normal::before {
    content: '';
    position: absolute; 
    z-index: -1; 
    width: 110%; 
    height: 100%; 
    background-color: yellow; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) rotate(-5deg); 
    border-radius: 0%; 
}

.oval-border {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 0px 10px;
    display: inline-block;
    line-height: 1.2
}

#map {
    height: 100vh;
    width: 50vw;
}

.cover-full {
    height: 100vh;
    width: 100%;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

p.headline {
    font-size: 6rem !important;
    font-weight: bold !important;
    line-height: 6rem;
    letter-spacing: -2px;
    hyphens: none;
}

.logo {
    border: none;
    font-size: 3rem;
    transform: translateY(-10px);
    letter-spacing: -1px;
    background-color: none;
}



@media (max-width: 768px) {

    .navbar-nav a {
        margin-bottom: .5rem;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    p.headline {
        font-size: 5rem !important;
        line-height: 5rem;
        hyphens:none;
    }

    div.text-wrapper{
        position: relative!important;
        transform: none!important;
        left: auto!important;
        top: auto!important;
        padding-top: 190px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .no-small-flex {
        align-items: flex-start!important;
        justify-content: left!important;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1620px;
    }
}